html {
  box-sizing: border-box;
  background-color: #dbd6d0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #79766f;
  border: 3px solid #5b5851;
}

h1 {
  text-align: center;
}
*, *::before, *::after {
  box-sizing: inherit;
}
